@import url('../root.css');

body {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    background: var(--background);
    background: var(--background_gradient);
}
