/*? ------------SPEEDOMETER------------ */

:root {
    --speedoBackground: rgba(33, 47, 43, 0.321);
}

.speedometer {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 40px;
    transition: bottom 0.6s ease-in-out;
}

.speedometer .veh_speed,
.speedometer .veh_tank {
    width: max-content;
    height: 30px;
    background: var(--speedoBackground);
    border-radius: 5px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.speedometer div img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0 5px;
}

.speedometer .veh_state {
    transform: translate(-27px, -70px);
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 45px;
    border-radius: 5px;
}

.speedometer .veh_state img {
    width: 15px;
    border-radius: 5px;
    margin: 0 12px;
    opacity: 0.2;
}

.speedometer .veh_state img:nth-child(1) {
    margin-left: 0;
}

.stateActive {
    opacity: 1;
}
