@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./speedometer.css');
@import url('./top_right.css');
@import url('./voice.css');
@import url('./money.css');

body {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;


    /* background-color: grey; */
}


